<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KaffeMaskineSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KaffeMaskineSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">KaffeMaskineSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <!-- Vores cleaning link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cleaning">Cleaning</a>
                        </li>
                        <!-- Vores coffeemachine link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CoffeeMachine">CoffeeMachine</a>
                        </li>
                        <!-- Vores History link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/History">History</a>
                        </li>
                        <!-- Vores MachineMaintenanceRecord link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MachineMaintenanceRecord">MachineMaintenanceRecord</a>
                        </li>
                        <!-- Vores Notification link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Notification">Notification</a>
                        </li>
                        <!-- Vores refill link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Refill">Refill</a>
                        </li>
                        <!-- Vores TrayemptyingRecord link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/TrayEmptyingRecord ">TrayEmptyingRecord </a>
                        </li>
                        <!-- Vores TubeChange link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/TubeChange">TubeChange</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - KaffeMaskineSystem - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <div class="jumbotron text-center" style="background-color: #d4b483; color: #fff; padding: 50px;">
        <h1>Velkommen!</h1>
        <p>System til vedligeholdelse af kaffemaskinerne i Zealand med et enkelt klik.</p>
        <button class="btn btn-dark" onclick="location.href='/Refill'">Se Refill</button>
        <button class="btn btn-dark" onclick="location.href='/Notification'">Se Notifikationer</button>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
